# Virtual Environment
venv/
env/
ENV/
backend/venv/
backend/__pycache__/

# Node modules
node_modules/
frontend/node_modules/

# Python cache
__pycache__/
*.py[cod]
*.so

# Model files (opsional - bisa ditaruh di release)
*.pth
*.pt
backend/models/*.pth

# OS files
.DS_Store
Thumbs.db